---
layout: default
---
<section id="hero" class="p0 m0">
	<div class="inner">
		<img src="/assets/img/afr-logo-new.png" alt="Aggie FIRST Robotics" />
		<p>Helping FIRST alumni take their FIRST steps</p>
	</div>
</section>
{{#container id="what-we-do"}}
## What We Do

Aggie FIRST Robotics is dedicated to promoting engineering education and fostering community in undergraduate Texas A&M
students and K-12 students around Texas. Although we are open to any interested students, most members are alumni of
the FIRST Robotics competition, a series of robotics competitions for elementary, middle, and high school students. Our
mission is to continue the mission of FIRST into college, providing members with technical, professional, and social
growth through engineering design challenges, skills training, leadership opportunities, and meeting other like-minded
individuals. In addition, we want to give back to the FIRST community, helping the next generation of students receive
the same opportunities that we were fortunate enough to receive.

This year, we are creating a VEX U team. This program is an expanded version of the VEX Robotics Competition that
allows for more customization and flexibility. VEX U is cost efficient and will provide students experience working in
a limited environment. The VEX U college and university competition has more than 300 teams competing globally.

We also participate in the Robots Done Quick design challenge. As the name suggests, members from our organization
designed, built, and presented a FIRST robot in one week to demonstrate to high school FIRST teams how to make a
competitive robot under a tight budget and heavy time restrictions. We plan on taking our Robots Done Quick robot to a
competition in the fall. Our organization volunteers at FIRST and VEX competitions across Texas, helping staff events
as field crew, referees, announcers, and inspectors. In addition, we helped run the Engineering Innovation Center’s new
mobile machine shop at a robotics competition in San Antonio.

{{/container}}
{{#container id="calendar-wrapper" class="will-scroll"}}

## Calendar

<iframe frameborder="0" src="https://calendar.google.com/calendar/embed?src=fa7oundi4i0fp9dpc5juodqrug%40group.calendar.google.com&ctz=America%2FChicago"></iframe>
{{/container}}
