@media (prefers-reduced-motion: reduce) {
	* {
		animation: none !important;
		transition: none !important;
	}
}

@media (inverted-colors) {
	img,
	video {
		filter: invert(100%);
	}

	* {
		box-shadow: none !important;
		text-shadow: none !important;
	}
}
